parameters:
	ignoreErrors:
		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\AutoDiscoveryFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/AutoDiscoveryFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\BuzzFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/BuzzFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\BuzzFactory\\:\\:createClient\\(\\) should return Psr\\\\Http\\\\Client\\\\ClientInterface but returns Buzz\\\\Client\\\\FileGetContents\\.$#"
			count: 1
			path: src/ClientFactory/BuzzFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\BuzzFactory\\:\\:getOptions\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/ClientFactory/BuzzFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\BuzzFactory\\:\\:getOptions\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/BuzzFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\ClientFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/ClientFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\CurlFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/CurlFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\CurlFactory\\:\\:createClient\\(\\) should return Psr\\\\Http\\\\Client\\\\ClientInterface but returns Http\\\\Client\\\\Curl\\\\Client\\.$#"
			count: 1
			path: src/ClientFactory/CurlFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\Guzzle6Factory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/Guzzle6Factory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\Guzzle7Factory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/Guzzle7Factory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\MockFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/MockFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\MockFactory\\:\\:setClient\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/ClientFactory/MockFactory.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/ClientFactory/MockFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\PluginClientFactory\\:\\:createPluginClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/PluginClientFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\PluginClientFactory\\:\\:createPluginClient\\(\\) has parameter \\$pluginClientOptions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/PluginClientFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\ReactFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/ReactFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\ReactFactory\\:\\:createClient\\(\\) should return Psr\\\\Http\\\\Client\\\\ClientInterface but returns Http\\\\Adapter\\\\React\\\\Client\\.$#"
			count: 1
			path: src/ClientFactory/ReactFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\SocketFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/SocketFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\SocketFactory\\:\\:createClient\\(\\) should return Psr\\\\Http\\\\Client\\\\ClientInterface but returns Http\\\\Client\\\\Socket\\\\Client\\.$#"
			count: 1
			path: src/ClientFactory/SocketFactory.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class Symfony\\\\Component\\\\HttpClient\\\\HttpClient\\.$#"
			count: 1
			path: src/ClientFactory/SymfonyFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\SymfonyFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ClientFactory/SymfonyFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\ClientFactory\\\\SymfonyFactory\\:\\:createClient\\(\\) should return Psr\\\\Http\\\\Client\\\\ClientInterface but returns Symfony\\\\Component\\\\HttpClient\\\\HttplugClient\\.$#"
			count: 1
			path: src/ClientFactory/SymfonyFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:activateStack\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:addStack\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:collect\\(\\) has parameter \\$exception with no type specified\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:countClientMessages\\(\\) has parameter \\$client with no type specified\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:deactivateStack\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:getClientRootStacks\\(\\) has parameter \\$client with no type specified\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Collector\\:\\:getClients\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and Http\\\\HttplugBundle\\\\Collector\\\\Stack will always evaluate to false\\.$#"
			count: 1
			path: src/Collector/Collector.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Formatter\\:\\:formatResponseForRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Formatter.php

		-
			message: "#^Property Http\\\\HttplugBundle\\\\Collector\\\\Formatter\\:\\:\\$curlFormatter \\(Http\\\\Message\\\\Formatter\\\\CurlCommandFormatter\\) does not accept Http\\\\Message\\\\Formatter\\.$#"
			count: 1
			path: src/Collector/Formatter.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\PluginClientFactory\\:\\:createClient\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Collector/PluginClientFactory.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: src/Collector/PluginClientFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\PluginClientFactoryListener\\:\\:onEvent\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/PluginClientFactoryListener.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Profile\\:\\:setFailed\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Profile.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Profile\\:\\:setRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Profile.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Profile\\:\\:setResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Profile.php

		-
			message: "#^Call to an undefined method Http\\\\Client\\\\HttpAsyncClient\\|Psr\\\\Http\\\\Client\\\\ClientInterface\\:\\:sendAsyncRequest\\(\\)\\.$#"
			count: 1
			path: src/Collector/ProfileClient.php

		-
			message: "#^Call to an undefined method Http\\\\Client\\\\HttpAsyncClient\\|Psr\\\\Http\\\\Client\\\\ClientInterface\\:\\:sendRequest\\(\\)\\.$#"
			count: 1
			path: src/Collector/ProfileClient.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\ProfileClient\\:\\:doSendRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/ProfileClient.php

		-
			message: "#^Parameter \\#1 \\$duration of method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setDuration\\(\\) expects int, float\\|int given\\.$#"
			count: 2
			path: src/Collector/ProfileClient.php

		-
			message: "#^Property Http\\\\HttplugBundle\\\\Collector\\\\ProfileClient\\:\\:\\$eventNames type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Collector/ProfileClient.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\ProfileClientFactory\\:\\:createClient\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Collector/ProfileClientFactory.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Collector/ProfileClientFactory.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\ProfilePlugin\\:\\:doHandleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/ProfilePlugin.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:addProfile\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:getClientSlug\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setClientException\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setClientRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setClientResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setCurlCommand\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setDuration\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setFailed\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setParent\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setRequestHost\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setRequestMethod\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setRequestPort\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setRequestScheme\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setRequestTarget\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:setResponseCode\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Property Http\\\\HttplugBundle\\\\Collector\\\\Stack\\:\\:\\$clientResponse \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: src/Collector/Stack.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\StackPlugin\\:\\:doHandleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/StackPlugin.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Twig\\\\HttpMessageMarkupExtension\\:\\:getFilters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Collector/Twig/HttpMessageMarkupExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Twig\\\\HttpMessageMarkupExtension\\:\\:getName\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Twig/HttpMessageMarkupExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Collector\\\\Twig\\\\HttpMessageMarkupExtension\\:\\:markup\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Collector/Twig/HttpMessageMarkupExtension.php

		-
			message: "#^Property Http\\\\HttplugBundle\\\\Collector\\\\Twig\\\\HttpMessageMarkupExtension\\:\\:\\$dumper \\(Symfony\\\\Component\\\\VarDumper\\\\Dumper\\\\HtmlDumper\\) does not accept Symfony\\\\Component\\\\VarDumper\\\\Dumper\\\\DataDumperInterface\\.$#"
			count: 1
			path: src/Collector/Twig/HttpMessageMarkupExtension.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:canBeEnabled\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:fixXmlConfig\\(\\)\\.$#"
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:prototype\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:useAttributeAsKey\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Cannot call method end\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 7
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Class Http\\\\Client\\\\Plugin\\\\Vcr\\\\NamingStrategy\\\\NamingStrategyInterface not found\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Class Http\\\\Client\\\\Plugin\\\\Vcr\\\\Recorder\\\\PlayerInterface not found\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Class Http\\\\Client\\\\Plugin\\\\Vcr\\\\Recorder\\\\RecorderInterface not found\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\Configuration\\:\\:createClientPluginNode\\(\\) should return Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition but returns Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\Configuration\\:\\:validateAuthenticationType\\(\\) has parameter \\$actual with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\Configuration\\:\\:validateAuthenticationType\\(\\) has parameter \\$expected with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$root of method Http\\\\HttplugBundle\\\\DependencyInjection\\\\Configuration\\:\\:configureClients\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$root of method Http\\\\HttplugBundle\\\\DependencyInjection\\\\Configuration\\:\\:configureSharedPlugins\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Class Http\\\\Client\\\\Plugin\\\\Vcr\\\\RecordPlugin not found\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Class Http\\\\Client\\\\Plugin\\\\Vcr\\\\ReplayPlugin not found\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureAuthentication\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureAuthentication\\(\\) has parameter \\$servicePrefix with no type specified\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureAutoDiscoveryClients\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureClient\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureClients\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configurePlugin\\(\\) has parameter \\$pluginConfig with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configurePluginByName\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configurePlugins\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureVcrPlugin\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureVcrPlugin\\(\\) has parameter \\$prefix with no type specified\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:configureVcrPlugin\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:getConfiguration\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\DependencyInjection\\\\HttplugExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Parameter \\#1 \\$configuration of method Symfony\\\\Component\\\\DependencyInjection\\\\Extension\\\\Extension\\:\\:processConfiguration\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\ConfigurationInterface, Symfony\\\\Component\\\\Config\\\\Definition\\\\ConfigurationInterface\\|null given\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Parameter \\#1 \\$debug of class Http\\\\HttplugBundle\\\\DependencyInjection\\\\Configuration constructor expects bool, array\\|bool\\|float\\|int\\|string\\|UnitEnum\\|null given\\.$#"
			count: 1
			path: src/DependencyInjection/HttplugExtension.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Discovery\\\\ConfiguredClientsStrategy\\:\\:getCandidates\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Discovery/ConfiguredClientsStrategy.php

		-
			message: "#^Static property Http\\\\HttplugBundle\\\\Discovery\\\\ConfiguredClientsStrategy\\:\\:\\$asyncClient \\(Http\\\\Client\\\\HttpAsyncClient\\) does not accept Http\\\\Client\\\\HttpAsyncClient\\|null\\.$#"
			count: 1
			path: src/Discovery/ConfiguredClientsStrategy.php

		-
			message: "#^Static property Http\\\\HttplugBundle\\\\Discovery\\\\ConfiguredClientsStrategy\\:\\:\\$client \\(Psr\\\\Http\\\\Client\\\\ClientInterface\\) does not accept Psr\\\\Http\\\\Client\\\\ClientInterface\\|null\\.$#"
			count: 1
			path: src/Discovery/ConfiguredClientsStrategy.php

		-
			message: "#^Method Http\\\\HttplugBundle\\\\Discovery\\\\ConfiguredClientsStrategyListener\\:\\:onEvent\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Discovery/ConfiguredClientsStrategyListener.php
